body{
  font-family: 'Indie Flower', cursive;
}

footer{
  background-color: #bad69c;
  height: 20vh;
  text-align: center;
}

#logo{
  height: 10vh;
  width: 30%;
}

#counterItems{
  background-color: #aad000;
}

#checkout,.btn{
    background-color: #48902b;
    border: #48902b;
    color:#fff;
}


#checkout.btn:hover{
  background-color: #aad000;
}

#background{
  height: 130vh;
  width: 100%;
}

#home{
  color: #48902b;
  font-size: 200%;
  margin-left: 150%;
}

#available{
  color: #aad000;
  margin-top: 5%;
}

#leaves{
  height: 10vh;
  width:20%;
}

#copyright{
  color:#fff;
  padding-top: 2%;
}

.navbar{
  position: fixed;
  width: 100%;
  z-index: 999;
}

.plants{
  height: 55vh;
  width: 30%;
}

.plantsName,.price{
  color:#48902b;
}
